In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df_1=pd.read_csv("scholarships.csv")
df_1.head()

,Unnamed: 0,Beca,Tipo de ayuda,Universidad,Ubicación,Beneficios,Plazo,Enlace
0,0,Merit Scholarships,Merit-based,Temple University,"Philadelphia, United States",2000 USD,2000 USD,https://www.mastersportal.com/scholarships/171...
1,1,MRS Resident Advisor Scholarship,Merit-based,Monash University,"Clayton, Australia",565 AUD,565 AUD,https://www.mastersportal.com/scholarships/206...
2,2,CROUS Bursary,Need-based,University of Strasbourg,"Strasbourg, France",Various benefits,Various benefits,https://www.mastersportal.com/scholarships/101...
3,3,Chevening Scholarships,Merit-based,University of Bedfordshire,"Luton, United Kingdom",Various benefits,Various benefits,https://www.mastersportal.com/scholarships/929...
4,4,British Chevening Scholarships,Merit-based,Cranfield University,"Cranfield, United Kingdom",Various benefits,Various benefits,https://www.mastersportal.com/scholarships/910...

In [11]:
df_1.shape

(2474, 8)

In [7]:
df_1.isnull().sum()

Unnamed: 0         0
Beca               0
Tipo de ayuda    558
Universidad        0
Ubicación          0
Beneficios         0
Plazo              0
Enlace             0
dtype: int64

In [8]:
df_1['Tipo de ayuda'].fillna("Not Specified",inplace=True)
df_1.isnull().sum()

Unnamed: 0       0
Beca             0
Tipo de ayuda    0
Universidad      0
Ubicación        0
Beneficios       0
Plazo            0
Enlace           0
dtype: int64

In [9]:
df_2=pd.read_csv("scholarship_additional_info.csv")
df_2.head()

,ID,URL,About,OrganisationInformation,Overview,Eligibility,Application
0,9,https://www.mastersportal.com/scholarships/390...,About\nEvery year Brunel University London off...,Overview\nScholarship type\nMerit based\nNumbe...,Eligibility\nTheir rugby scholarship programme...,Application\nApplication deadline\n01 Oct 2024...,"Brunel University London\nUxbridge , United Ki..."
1,10,https://www.mastersportal.com/scholarships/938...,About\nSOAS University of London have a wide r...,Overview\nScholarship type\nMerit based\nNumbe...,Eligibility\nAny full-time Master’s programme ...,Application\nApplication deadline\n08 Mar 2025...,"SOAS University of London\nLondon , United Kin..."
2,11,https://www.mastersportal.com/scholarships/857...,"About\nAt the University of Newcastle, they ar...",Overview\nScholarship type\nMerit based\nNumbe...,Eligibility\nTo be eligible to apply for this ...,Application\nApplication deadline\nAnytime\nNo...,"University of Newcastle\nNewcastle , Australia..."
3,12,https://www.mastersportal.com/scholarships/202...,About\nVictoria University of Wellington can s...,Overview\nScholarship type\nMerit based\nNumbe...,Eligibility\nApplications are sought from thos...,Application\nApplication deadline\n01 Nov 2024...,Victoria University of Wellington\nWellington ...
4,13,https://www.mastersportal.com/scholarships/101...,About\nIn line with its internationalization s...,Overview\nScholarship type\nMerit based\nNumbe...,Eligibility\nTo be eligible to receive the exc...,Application\nApplication deadline\nAnytime\nYo...,"The University of Milan\nSesto San Giovanni , ..."

In [12]:
df_2.shape

(908, 7)

In [10]:
df_2.isnull().sum()

ID                         0
URL                        0
About                      0
OrganisationInformation    1
Overview                   1
Eligibility                1
Application                0
dtype: int64

In [15]:
df_2=df_2[~df_2['OrganisationInformation'].isna()]
df_2.shape

(907, 7)

In [17]:
df=df_1.merge(df_2,left_on="Enlace",right_on='URL',how='left')
df.head()

,Unnamed: 0,Beca,Tipo de ayuda,Universidad,Ubicación,Beneficios,Plazo,Enlace,ID,URL,About,OrganisationInformation,Overview,Eligibility,Application
0,0,Merit Scholarships,Merit-based,Temple University,"Philadelphia, United States",2000 USD,2000 USD,https://www.mastersportal.com/scholarships/171...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,MRS Resident Advisor Scholarship,Merit-based,Monash University,"Clayton, Australia",565 AUD,565 AUD,https://www.mastersportal.com/scholarships/206...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,CROUS Bursary,Need-based,University of Strasbourg,"Strasbourg, France",Various benefits,Various benefits,https://www.mastersportal.com/scholarships/101...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Chevening Scholarships,Merit-based,University of Bedfordshire,"Luton, United Kingdom",Various benefits,Various benefits,https://www.mastersportal.com/scholarships/929...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,British Chevening Scholarships,Merit-based,Cranfield University,"Cranfield, United Kingdom",Various benefits,Various benefits,https://www.mastersportal.com/scholarships/910...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df.isna().sum()

Unnamed: 0                    0
Beca                          0
Tipo de ayuda                 0
Universidad                   0
Ubicación                     0
Beneficios                    0
Plazo                         0
Enlace                        0
ID                         1567
URL                        1567
About                      1567
OrganisationInformation    1567
Overview                   1567
Eligibility                1567
Application                1567
dtype: int64

In [28]:
df[df.isna().ID].iloc[:,0:8].to_csv("scholarships_pending.csv")

,Unnamed: 0,Beca,Tipo de ayuda,Universidad,Ubicación,Beneficios,Plazo,Enlace
0,0,Merit Scholarships,Merit-based,Temple University,"Philadelphia, United States",2000 USD,2000 USD,https://www.mastersportal.com/scholarships/171...
1,1,MRS Resident Advisor Scholarship,Merit-based,Monash University,"Clayton, Australia",565 AUD,565 AUD,https://www.mastersportal.com/scholarships/206...
2,2,CROUS Bursary,Need-based,University of Strasbourg,"Strasbourg, France",Various benefits,Various benefits,https://www.mastersportal.com/scholarships/101...
3,3,Chevening Scholarships,Merit-based,University of Bedfordshire,"Luton, United Kingdom",Various benefits,Various benefits,https://www.mastersportal.com/scholarships/929...
4,4,British Chevening Scholarships,Merit-based,Cranfield University,"Cranfield, United Kingdom",Various benefits,Various benefits,https://www.mastersportal.com/scholarships/910...
...,...,...,...,...,...,...,...,...
1672,1672,Aalto Incentive-Based Scholarships,Merit-based,Aalto University,"Helsinki, Finland",1500 EUR,1500 EUR,https://www.mastersportal.com/scholarships/902...
1673,1673,Study Abroad Merit-Based Scholarship,Merit-based,Spanish Studies Abroad Alumni Scholar Fund,Location not available,1500 USD,1500 USD,https://www.mastersportal.com/scholarships/889...
1674,1674,Early Application Scholarship,Not Specified,Audencia,"Nantes, France",1500 EUR,1500 EUR,https://www.mastersportal.com/scholarships/452...
1675,1675,Winter School Grant,Not Specified,Central European University (CEU),"Vienna, Austria",1500 EUR,1500 EUR,https://www.mastersportal.com/scholarships/761...
2460,2460,Dwight W. Hoover Scholarship for Graduate Stud...,Not Specified,Ball State University,"Muncie, United States",Various benefits,Various benefits,https://www.mastersportal.com/scholarships/475...